# 파이썬 기초 02

---

### 함수

In [31]:
def add1():
    print("더하기 함수입니다.")

In [32]:
add1()

더하기 함수입니다.

In [33]:
def add2(x, y):
    print(x + y)

In [34]:
add1(1, 2)

3

In [39]:
def add3(x, y):
    return x + y

In [40]:
result = add3(1, 2)
result

3

In [41]:
def square(x, y):
    x = x ** 2
    y = y ** 2
    return x, y

In [42]:
a, b = square(2, 3)
print(a)
print(b)

4
9

---

### List

In [12]:
letters = ['A', 'B', 'C', 'D', 'E', 'F']

In [13]:
letters

['A', 'B', 'C', 'D', 'E', 'F']

In [3]:
letters[0]

'A'

In [4]:
letters[1]

'B'

In [5]:
letters[5]

'F'

In [14]:
letters.append('a')
letters

['A', 'B', 'C', 'D', 'E', 'F', 'a']

In [16]:
letters.count('a')

1

In [17]:
letters.insert(2, 'z')
letters

['A', 'B', 'z', 'C', 'D', 'E', 'F', 'a']

In [18]:
letters.pop(2)

'z'

In [19]:
letters

['A', 'B', 'C', 'D', 'E', 'F', 'a']

In [20]:
letters.remove('a')
letters

['A', 'B', 'C', 'D', 'E', 'F']

In [26]:
letters.sort(reverse=True)

In [27]:
letters

['F', 'E', 'D', 'C', 'B', 'A']

In [28]:
letters.sort()

In [29]:
letters

['A', 'B', 'C', 'D', 'E', 'F']

---

In [44]:
letters[-1]

'F'

In [45]:
letters[-2]

'E'

In [46]:
letters[0:3]

['A', 'B', 'C']

In [47]:
letters[3:]

['D', 'E', 'F']

In [50]:
letters[:4]

['A', 'B', 'C', 'D']

In [51]:
letters[:]

['A', 'B', 'C', 'D', 'E', 'F']

In [48]:
letters[::2]

['A', 'C', 'E']

In [49]:
letters[::-1]

['F', 'E', 'D', 'C', 'B', 'A']

### List Complehension

In [52]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
num10 = list(range(1, 11))
[ x + 1 for x in num10 ]

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [63]:
for x in num10:
    if x % 2 == 0:
        print(x)

2
4
6
8
10

In [62]:
[x for x in num10 if x % 2 == 0]

[2, 4, 6, 8, 10]

In [64]:
[x for x in num10 if x % 2 == 1]

[1, 3, 5, 7, 9]

In [65]:
[x ** 2 for x in num10 if x % 2 == 1]

[1, 9, 25, 49, 81]

#### Tuple

In [71]:
tuple1 = (1, 2, 3,)
tuple1

(1, 2, 3)

In [72]:
tuple1[0]  = 4

TypeError: 'tuple' object does not support item assignment

In [73]:
tuple1 + tuple1

(1, 2, 3, 1, 2, 3)

In [74]:
tuple1 * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [75]:
list1 = list(tuple1)
list1

[1, 2, 3]

In [76]:
list1.append(4)

In [77]:
list1

[1, 2, 3, 4]

In [78]:
tuple1 = tuple(list1)

In [79]:
tuple1

(1, 2, 3, 4)

### 사전 (Dictionary)

In [86]:
중간고사 = {
    "수학": 100,
    "영어": 90,
}
중간고사

{'수학': 100, '영어': 90}

In [89]:
중간고사['국어'] = 85
중간고사

{'수학': 100, '영어': 90, '국어': 85}

In [90]:
중간고사['영어']

90

In [92]:
list(중간고사.keys())

['수학', '영어', '국어']

In [93]:
list(중간고사.values())

[100, 90, 85]

In [94]:
for 과목, 점수 in 중간고사.items():
    print('{} 과목점수는 {} 점'.format(과목, 점수))

수학 과목점수는 100 점
영어 과목점수는 90 점
국어 과목점수는 85 점

In [95]:
중간고사['영어'] = 95
중간고사

{'수학': 100, '영어': 95, '국어': 85}

---

### 파일 읽기 & 쓰기

In [109]:
filepath ='c:/temp/myfile.txt'
filepath2 = 'c:/temp/myfile2.txt'

In [110]:
fw = open(filepath, 'w')
fw.write('Hello World Python\n')
fw.write('Welcome to Python World\n')
fw.close()

In [111]:
fr = open(filepath, 'r')
for line in fr:
    print(line)

fr.close()

Hello World Python

Welcome to Python World

In [112]:
fa = open(filepath, 'a')
fa.write('Append new line...')
fa.close()

In [113]:
with open(filepath, 'r') as fr:
    for line in fr:
        print(line)

Hello World Python

Welcome to Python World

Append new line...

In [114]:
with open(filepath, 'r') as fr, open(filepath2, 'w') as fw:
    for line in fr:
        if 'Python' in line:
            fw.write(line)

In [115]:
with open(filepath2, 'r') as fr:
    for line in fr:
        print(line)

Hello World Python

Welcome to Python World

### 파일시스템

---

In [116]:
import os

In [117]:
base_dir = '.'

In [119]:
backup = os.path.join(base_dir, 'backup')
backup

'.\\backup'

In [120]:
os.path.exists(backup)

False

In [121]:
if not os.path.exists(backup):
    os.mkdir(backup)
    print('디렉토리를 생성합니다.')
else:
    print('디렉토리가 이미 존재합니다.')

디렉토리를 생성합니다.

In [122]:
import shutil

In [123]:
file1 = os.path.join(base_dir, 'part1-1.ipynb')
file2 = os.path.join(base_dir, 'part1-2.ipynb')

In [124]:
shutil.copy(file1, backup) # access time = 복사시점

'.\\backup\\part1-1.ipynb'

In [125]:
shutil.copy(file2, backup) # access time = 원본파일 access time

'.\\backup\\part1-2.ipynb'

In [126]:
shutil.copytree(base_dir, '_backup')

'._backup'

In [127]:
os.remove(os.path.join(backup, 'part1-1.ipynb'))

In [128]:
shutil.rmtree(backup)